# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# FormEditor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# compnents
src/Pages/static-pages/About.jsx
intelli
src/Components/features/form/form-consumer/components/RadioGroup.jsx

src/Components/features/form/form-consumer/propTypes.js
src/Pages/static-pages/About.jsx
intelli.pub
src/Pages/static-pages/About.jsx
src/Pages/static-pages/About.jsx

# compnents
src/Pages/static-pages/About.jsx
intelli
src/Components/features/form/form-consumer/components/RadioGroup.jsx

src/Components/features/form/form-consumer/propTypes.js
src/Pages/static-pages/About.jsx
intelli.pub
src/Pages/static-pages/About.jsx
src/Pages/static-pages/About.jsx
